


<div class="band">
    <div class="item-1">
        <a routerLink="#" class="card">
            <div class="thumb" style="background-image: url('assets/images/cycle/cycle_image10.jpeg');"></div>
            <article>
                <h1>Menstrual Cycle Details</h1>
            </article>
        </a>
    </div>
    <div class="item-2">
    
            <h2>Table of Contents</h2>
            <ol class="list-group ol-list">
                <li class="list-group-item"><a href="#Whatis">What is the menstrual cycle?</a></li>
                <li class="list-group-item"><a href="#phase">Phases of the menstrual cycle</a></li>
                <li class="list-group-item"><a href="#symptoms">What are symptoms of getting your period?</a></li>
                <li class="list-group-item"><a href="#Over-time">How does your period change over time?</a></li>
                <li class="list-group-item"><a href="#irregular">What is considered an irregular period?</a></li>
            </ol>
        </div>
    </div>
<div class="con">
    <div class="sec mt-2">

        <section class="container-fluid mission-vision">
            
            <div class="container">
                <div class="row mission health">
                    <div class="col-md-6 mv-img">
                        <img src="assets/images/cycle/360_F_440234275_JttdAsxgJF9A3lIM6My40rVMsuC8nFlw.jpg" style="width: 480px; height: auto;">
                    </div>
                   
                    <div class="col-md-6 mv-det">
                        <h3 id="Whatis">What is the menstrual cycle?</h3>
                        <p>The menstrual cycle prepares your body for pregnancy. If you are not pregnant, 
                            your hormones send a signal to your uterus to shed its lining. This becomes your period. Once you start your period, the cycle starts again..</p>
                        <p>A menstrual cycle is measured from the first day of your period to the first day of your next period. The average length of a menstrual cycle is 28 to 29 days, but every woman’s cycle is different. For example,
                             teenagers might have cycles that last 45 days, whereas women in their 20s to 30s might have cycles that last 21 to 38 days.</p>
                        <p>Your first period is called menarche. In Western countries, the average age for a first period is 12 to 13, but it can start as early as nine and as late as 16.</p>
                        <p>Your last period is called menopause. In Australia, the average age for women to reach menopause is 51 to 52. Some women might reach menopause as late as 60.</p>     
                    </div>
                    
                </div>
                <div style="width: 100%; text-align: center;">
                    <h3 id="#phase">Phases of the menstrual cycle</h3>
                </div>
                <div class="row vision mt-2">
                    
                    <div class="col-md-6 mv-det">
                        
                            <h4>1. Menstruation</h4>
                            <p>Menstruation, or a period, is the shedding of the uterine lining, flowing out o0f the vagina as blood, mucus, and cells. Periods typically last three to seven days. Sanitary pads, tampons, period underwear, or menstrual cups are used to absorb menstrual flow. Pads and tampons should be changed every three to four hours, while menstrual cups should be emptied every eight to 12 hours.</p><br>
                      <h4>2. The follicular phase</h4>
                      <p>
                        The follicular phase begins on the first day of your period and lasts 13 to 14 days, ending with ovulation. The pituitary gland releases a hormone that stimulates the production of ovarian follicles, typically maturing one into an egg around day 10. During this phase, the uterine lining thickens in preparation for pregnancy.
                      </p>
                    </div>
                    <div class="col-md-6 mv-img">
                        <img src="assets/images/cycle/what-are-the-phases-of-the-menstrual-cycle-welzo.png" style="width: 480px; height: 400px;">
                    </div>
                  
                </div>
                <div class="row vision mt-2">
                    <div class="col-md-6 mv-img">
                        <img src="assets/images/cycle/MicrosoftTeams-image.jpg" style="width: 480px; height: 400px;">
                    </div>
                    <div class="col-md-6 mv-det">
                        
                        <h4>3. Ovulation</h4>
                        <p>Ovulation occurs when a mature egg is released from an ovary and travels towards the uterus, typically happening about two weeks before your next period and lasting 16 to 32 hours. Pregnancy is most likely in the three days leading up to and including ovulation. The egg survives up to 24 hours, and if sperm reaches it during this time, pregnancy can occur.</p><br>
                        <h4>4. The luteal phase</h4>
                        <p>After ovulation, the corpus luteum in the ovary releases progesterone and a small amount of estrogen, thickening the uterine lining for pregnancy. If a fertilized egg implants, the corpus luteum continues producing progesterone. If pregnancy does not occur, the corpus luteum dies, progesterone levels drop, the uterine lining sheds, and menstruation begins.</p>
                      
                    </div>
                    
                  
                </div>

                
                <div class="row vision mt-2">
                    <div class="col-md-6 mv-det">
                        <h3  id="#symptoms" class="mt-5">What are symptoms of getting your period?</h3>
                        <p>Symptoms of getting your period, also known as premenstrual syndrome (PMS), include cramps, bloating, breast tenderness, mood swings, headaches, fatigue, and acne. Some individuals may also experience back pain, food cravings, and changes in bowel habits. These symptoms typically occur one to two weeks before the period starts and can vary in intensity.</p><br>
                        <p>Additional symptoms can include irritability, anxiety, depression, difficulty concentrating, and sleep disturbances. Gastrointestinal issues like constipation or diarrhea may also be present. These symptoms usually subside once menstruation begins.</p>
                    </div>
                      <div class="col-md-6 mv-img">
                        <img src="assets/images/cycle/cycle_image4..png"  >
                    </div>
                </div>


                <div class="row vision mt-2">
                    <div class="col-md-6 mv-img">
                        <img src="assets/images/cycle/cycle_image5.jfif"  style="width: 480px; height: 400px;">
                    </div>
                    <div class="col-md-6 mv-det">
                        <h3 id="#Over-time">How does your period change over time?</h3>
                        <p>Your period can change over time due to various factors such as age, hormonal changes, and overall health. During adolescence, periods might be irregular and vary in length and flow as the body adjusts to new hormonal cycles. In your 20s and 30s, periods often become more regular and predictable, though they can be affected by factors like stress, contraception, and pregnancy.</p>
                        <p>As you approach perimenopause in your 40s and 50s, periods may again become irregular, with changes in flow and duration. Hormonal fluctuations during this time can lead to symptoms like heavier or lighter periods, spotting between periods, and changes in cycle length. Eventually, periods will stop altogether, marking the onset of menopause.</p>
                                     </div>
                  
                </div>
                <div class="row vision mt-2">
                    
                    <div class="col-md-6 mv-det">
                        <h3 id="#irregular">What is considered an irregular period?</h3>
                        <p><b>1.Inconsistent cycle length:</b>Cycles that vary greatly in length, such as having periods more than 35 days apart or less than 21 days apart.</p>
                        <p><b>2.Missed periods:</b> Skipping periods frequently, especially if you are not pregnant.</p>
                        <p><b>3.Unpredictable flow:</b> Periods that are significantly lighter or heavier than usual</p> 
                        <p><b>4.Abnormal duration:</b> Menstrual bleeding that lasts longer than seven days or very short periods lasting only one or two days.</p>
                        <p><b>5.Spotting:</b> Bleeding or spotting between periods.</p>
                        <p><b>6.Severe pain:</b> Experiencing unusually severe menstrual cramps or pain.</p> <br> 
                        <p>Irregular periods can be caused by factors such as stress, significant weight loss or gain, excessive exercise, hormonal imbalances, polycystic ovary syndrome (PCOS), thyroid issues, and other underlying health conditions. If you experience significant changes in your menstrual cycle, it’s important to consult with a healthcare provider.</p> 
                    </div>
                      <div class="col-md-6 mv-img">
                        <img src="assets/images/cycle/cycle_image6.jfif" style="width: 480px; height: 400px;">
                    </div>
                </div>

               


            </div>
        </section>
    

        
    </div>

    <section class="our-blog">
        <div class="container">
            <div class="blog-row row">
                <div class="col-md-4 col-sm-6">
                    <div class="single-blog">
                        <figure>
                            <img src="assets/images/cycle/cycle_image9.jfif"style="width: 380px; height: 300;">
                        </figure>
                        <div class="blog-detail">
                            <small>By Admin | August 10, 2018</small>
                            <h4>What is PCOD?</h4>
                            <p>
                              Polycystic Ovary Disease (PCOD) is a condition where the ovaries contain multiple immature or partially mature eggs that develop into cysts, leading to hormonal imbalances and symptoms such as irregular menstrual cycles, acne, weight gain, and excess hair growth. It can cause infertility and increase the risk of metabolic issues like insulin resistance and type 2 diabetes, as well as mental health challenges such as anxiety and depression. Diagnosis involves medical history, physical exams, blood tests, and ultrasounds. 
                            </p>
                            <div class="link">
                                <a routerLink="/pcod">Read more </a><i class="fas fa-long-arrow-alt-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-blog">
                        <figure>
                            <img src="assets/images/cycle/cycle_image8.jfif" style="width: 380px; height: 230px;" >
                        </figure>
                        <div class="blog-detail">
                            <small>By Admin | August 10, 2018</small>
                            <h4>What is the PCOS?</h4>
                            <p>
                                Polycystic Ovary Syndrome (PCOS) is a common hormonal disorder in women of reproductive age, characterized by irregular menstrual cycles, excess male hormones, and polycystic ovaries. Symptoms include infrequent or prolonged periods, hirsutism, acne, and weight gain. PCOS can lead to infertility, metabolic issues like insulin resistance and type 2 diabetes, and increased risk of mental health issues. Diagnosis involves medical history, physical exams, blood tests, and ultrasounds. 
                            </p>
                            <div class="link">
                                <a routerLink="/pcos">Read more </a><i class="fas fa-long-arrow-alt-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-blog">
                        <figure>
                            <img src="assets/images/cycle/cycle_image7.jfif" style="width: 380px; height: auto;" >
                        </figure>
                        <div class="blog-detail">
                            <small>By Admin | August 10, 2018</small>
                            <h4>How are menstrual disorders diagnosed?</h4>
                            <p> Menstrual disorders are diagnosed through a combination of medical history, physical examinations, and diagnostic tests. Doctors gather details about the menstrual cycle, symptoms, medical and family history, and conduct a physical and pelvic exam. Diagnostic tests like blood tests, ultrasounds, Pap smears, and sometimes more specialized procedures such as endometrial biopsies or hormonal profiling, help identify the underlying cause of the disorder.
                            </p>
                            <div class="link">
                                <a routerLink="/disorders">Read more </a><i class="fas fa-long-arrow-alt-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>






            

 
    
