







<div class="head1">
    <h1 class="head2"></h1>
  </div>

  <div class="row">
    <div class="leftcolumn">
      <div class="card">
        <h2 class="head2">
          Why Anxiety Spikes With Your Period
        </h2>
        <h6>March 20, 2024</h6>
        <div class="fakeimg">
          <img src="assets/images/blog/anxiety-blog.jpg" class="blog_image" />
        </div>
        <h5 class="head2 mt-1">
          If you feel more anxious when you have your period, there are ways to cope.
        </h5>
        <br />
        <p>
          Out of nowhere, your heart starts racing, your brain feels like someone is squeezing it, your mind goes to
          dark places, and you just don’t feel quite right. The anxiety may be related to a specific cause or it may be
          a free-floating sense of doom. But instead of occurring at any time, like generalized anxiety disorder, this
          prickly feeling seems to start in the week or two before your period.
        </p>
        <br />
        <p>
          No, you are not losing your grip: You are experiencing a very common spike in anxiety due to hormonal
          fluctuations. Sometimes the shift in hormones can cause you to experience premenstrual syndrome (PMS) or even
          premenstrual dysphoric disorder (PMDD).
        </p>

        <br />
        <h5 class="head2 mt-2">The Link Between Anxiety and Your Period</h5>
        <br />
        <p>
          According to the Anxiety & Depression Association of America, women between the ages of 14 and 50 are at
          double the risk of anxiety compared with men. Part of the reason may be the hormonal flux of the menstrual
          cycle, says Yael Nillni, PhD, an assistant professor at the Boston University School of Medicine and a
          clinical research psychologist at the National Center for PTSD at the VA Boston Health Care System.
        </p>
        <br />
        <p>
          “Right before your period starts, estradiol and progesterone are declining rapidly,” Dr. Nillni explains.
          “Researchers have speculated that rapid hormonal withdrawal might underlie those symptoms. However, reactions
          to these normal hormone changes are unique; some women experience mood changes across their menstrual cycles,
          while some experience minimal changes in their mood related to their menstrual cycle.”
        </p>

        <br />
        <h5 class="head2 mt-2">Is Feeling Anxious During Your Cycle Normal?</h5>
        <br />
        <p>
          For some women, anxiety is par for the course, says Nillni. “A large portion of women will feel some sort of
          mood or affect change before their period. It’s not necessarily anxiety — it could also be feeling more
          irritable, sad, or having mood swings.”
        </p>
        <br />

        <p>
          Or you could feel no different at all. Only a small minority of women, about 3 to 8 percent, will experience
          mood changes around the menstrual cycle that cause significant disruption in their daily lives.
        </p>


        <br />

        <h5 class="head2 mt-2">Getting Help for Your Anxiety During Your Menstrual Cycle</h5>



        <p>
          Are you experiencing PMS or PMDD? Nillni says you should ask yourself how distressing or impairing the
          symptoms are: Is it interfering with your ability to work or go to school, engage in your hobbies, interact
          with your family and friends, or socialize? Those are signs that something unusual is going on and you should
          seek help.
        </p>
        <br />
        <p style="color: rgb(28, 4, 85)">
          Lifestyle Strategies That Can Help Alleviate Feeling Anxious With Your Period:
        </p>

        <ul class="blog-ul">
          <li>Exercise You don’t have to go to the gym. Dance at home, go for a walk or run. Move in all directions, not
            just up and down. “You increase your oxygen intake and circulation through movement, which increases blood
            flow to your liver. This helps your liver break down your hormones,” says Dr. Steelsmith.</li>

          <li>Restorative Yoga This practice puts you into a parasympathetic (calm) state. “It takes you right out of
            that fight-or-flight anxious feeling,” she says.</li>
          <li>Avoid Caffeine This stimulant can cause your heart to race, which mimics a panic attack</li>
          <li>Magnesium The crucial mineral may help balance the neurotransmitters glutamate and GABA (gamma
            aminobutyric acid). The first is a stimulating neurotransmitter or brain chemical; the second is a calming
            one. Consult your doctor before you add this or any supplement to your regular diet.</li>
          <li>Vitamin B6 According to the National Institutes of Health, there is some preliminary data showing that
            this B vitamin may help with PMS symptoms. Other studies, however, suggest vitamin B6 may not be effective.
          </li>
          <li>L-theanine Found in green tea, this amino acid has been shown to relax the mind without making you sleepy,
            according to one study.</li>

        </ul> <br>
        <h5 class="head2 mt-2">Medications and Therapies That Can Help With Menstrual-Associated Anxiety</h5>
        <ul class="blog-ul">
          <li>Antidepressant Medications These include selective serotonin reuptake inhibitors (SSRIs) — such as
            fluoxetine, sertraline, citalopram, paroxetine, and escitalopram — as well as the norepinephrine serotonin
            reuptake inhibitor (SNRI) venlafaxine. SSRIs are the one class of medication with the most solid evidence
            base of possible efficacy for severe PMS or PMDD.</li>

          <li>Hormonal Birth Control The pill, ring, or patch can be useful to women whose irritability is specifically
            premenstrual. Women whose anxiety or irritability is not related to their menstrual cycle may find that
            hormonal birth control affects their mood adversely.</li>
          <li>Cognitive Behavioral Therapy (CBT) This form of psychotherapy helps you to replace negative thoughts and
            manage anxious feelings.</li>
        </ul>


      </div>
    </div>

    <div class="rightcolumn">
      <div class="card1">
          <h2 class="head2">Trending Stories</h2>
          <div class="fakeimg">
              <img src="assets/images/events/food.jpg" class="blog_image">
          </div>
          <h5 class="head2 mt-3"><a routerLink="/sakhiya">Sakhi</a></h5>
          <p>Training school teachers to become Menstrual Educators<p>
        
          <div class="fakeimgm mt-5">
              <img src="assets/images/blog/pads.avif" class="blog_image">
          </div>
          <h5 class="head2 mt-3"><a routerLink="/padbank">Pad Bank </a></h5>
          <p>Free Sanitary Pad Distribution
              Free Menstrual Education Workshops Old papers collected as donations from households help procure sanitary pads</p>
          <div class="fakeimg mt-5">
              <img src="assets/images/blog/mhm-classroom780x439.jpeg" class="blog_image">
          </div>
          <h5 class="head2 mt-3"><a routerLink="/kagajpad">Kaagaz Ke Pad</a></h5>
          <p>
              Old papers collected as donations from households help procure sanitary pads
          </p>
          <div class="fakeimg mt-5">
              <img src="assets/images/events/dsc_0634.jpg" class="blog_image">
          </div>
          <h5 class="head2 mt-3"><a routerLink="/aarogya">Aarogya</a></h5>
          <p>
              Aarogya is a dedicated initiative aimed at addressing the critical issue of period poverty in rural areas.</p>
          
       
             <div class="fakeimg mt-5">
                  <img src="assets/images/events/Dipti2-e1564075327425.jpeg" class="blog_image">
              </div>
              <h5 class="head2 mt-3"><a routerLink="/nayidisha">NayiNisha</a></h5>
              <p>
                  NayiDisha is a transformative initiative aimed at combating period poverty in rural areas by addressing the intersecting challenges of economic constraints..</p>
              
                  <div class="fakeimg mt-5">
                      <img src="assets/images/events/3.jpg" class="blog_image">
                  </div>
                  <h5 class="head2 mt-3"><a routerLink="/udaan">Udaan</a></h5>
                  <p>
                      Udaan is a dedicated initiative aimed at addressing the critical issue of period poverty in rural areas. This project seeks to improve menstrual health..
                  </p>
                  
                  
  
  
      </div>
    </div>
  </div>






      


  