<div class="full-page">
  <div class="container">
    <div *ngIf="currentQuestion < quizData.length; else resultTemplate" id="quiz">
      <div class="question">{{ quizData[currentQuestion].question }}</div> <!-- Ensure the question is displayed -->
      <div class="options">
        <div class="option" *ngFor="let option of shuffledOptions">
          <input type="radio" name="quiz" [value]="option" [(ngModel)]="selectedOption" id="{{option}}">
          <label [for]="option">{{ option }}</label>
        </div>
      </div>
      <button (click)="checkAnswer()" class="button">Next</button>
    </div>
    <ng-template #resultTemplate>
      <div id="result" class="result mb-5">
        You scored {{ score }} out of {{ quizData.length }}!
        <div *ngIf="incorrectAnswers.length">
          <p>Incorrect Answers:</p>
          <div *ngFor="let answer of incorrectAnswers">
            <p>
              <strong>Your Answer:</strong> {{ answer.incorrectAnswer }}<br>
              <strong>Correct Answer:</strong> {{ answer.correctAnswer }}
            </p>
          </div>
        </div>
        <button (click)="retryQuiz()" class="button mt-3">Retry</button>
    
      </div>
    </ng-template>
  </div>
</div>
