


<div class="page-nav no-margin row">
    <div class="container">
        <div class="row">
            <h2>Learn With Us</h2>
            <ul>
                <li> <a routerLink="/"><i class="fas fa-home"></i> Home</a></li>
                <li><i class="fas fa-angle-double-right" ></i> Parents</li>
            </ul>
        </div>
    </div>
</div>

    <div class="learn-container">
        <h2>Information for Parents</h2>
        <div class="accordion" onclick="toggleAccordion(this)">
            <div class="accordion-header">
                <span><i class="icon-heart">&#9829;</i> Do’s and don’ts for parents about their daughter’s first periods</span>
                <span class="icon">&#9662;</span>
            </div>
            <div class="accordion-content">
                <p><b>Do's : </b></p> <br>
                <ul class="learn-bulletin">
                    <li> Explain what menstruation is and why it happens in a simple and age-appropriate language.
                    </li>
                    <li>Provide her with the necessary sanitary products like pads or tampons and teach her how to use them.
                    </li>
                    <li>Encourage her to ask questions and share her concerns about menstruation.
                    </li>
                    <li> Help her keep track of her menstrual cycle.
                    </li>
                    <li> Assure her that it is a normal bodily process and nothing to be ashamed of.
                    </li>
                </ul> <br>
                <p><b>Don'ts : </b></p> <br>
                <ul class="learn-bulletin">
                    <li>Don't shame or make fun of your daughter for menstruating.</li>
                    <li>Don't ignore your daughter's concerns or questions about menstruation.
                    </li>
                    <li>Don't assume that your daughter already knows everything about menstruation.
                    </li>
                    <li>Don't make menstruation a taboo topic in your household.
                    </li>
                    <li> Don't use negative language or euphemisms to describe menstruation.
                    </li>
                </ul>
            </div>
        </div>
        <div class="accordion" onclick="toggleAccordion(this)">
            <div class="accordion-header">
             
                <span><i class="icon-heart">&#9829;</i> How should parents prepare their daughter for her upcoming first period?</span>
                <span class="icon">&#9662;</span>
            </div>
            <div class="accordion-content">
                <p><b>Parents can prepare their daughter for her first period in several ways : </b></p> <br>
                <ul class="learn-bulletin">
                    <li>Start early: Parents can start talking about menstruation well in advance, even before their daughter starts her periods. This helps the girl to get familiar with the concept and to understand what to expect.
                    </li>
                    <li>Be honest and factual: Parents should be honest and factual in their discussions about periods, without exaggerating or withholding any information. They can use diagrams, books or videos to explain the process.
                    </li>
                    <li>Address any fears or misconceptions: Girls may have fears or misconceptions about periods, such as the fear of pain or embarrassment. Parents can address these fears and clear any misconceptions to help their daughters feel more confident and prepared.
                    </li>
                    <li>Provide period products: Parents should ensure that their daughter has access to appropriate period products, such as pads or tampons. They can also help their daughter understand how to use them properly.
                    </li>
                    <li>Create a support system: Parents should create a supportive environment for their daughter, where she can talk about her concerns or ask questions without feeling embarrassed or ashamed.
                    </li>
                </ul> 
            </div>
        </div>
        <div class="accordion" onclick="toggleAccordion(this)">
            <div class="accordion-header">
                <span><i class="icon-heart">&#9829;</i> Explaining what's happening in her body.</span>
                <span class="icon">&#9662;</span>
            </div>
            <div class="accordion-content">
                <p><b>Understanding symptoms leading up to her period : </b></p> <br>
                <ul class="learn-bulletin">
                    <li>A teenage girl may feel uncomfortable for the few days leading up to her period. She may be moodier than usual. 
                    </li>
                    <li>She may get cramps. She may also feel bloated or "puffy." Breast tenderness and swelling, 
                    </li>
                    <li>headaches, back and leg aches, acne breakouts and nausea are also common symptoms for many young women before and during their periods. 
                    </li>
                    <li>Many symptoms can be relieved by lifestyle changes, such as altering eating habits, exercising or taking medications.
                    </li>
                    <li>Explain that it’s a natural part of growing up and that it signifies her body is maturing.
                    </li>
                </ul> 
            </div>
        </div>
        <div class="accordion" onclick="toggleAccordion(this)">
            <div class="accordion-header">
                <span><i class="icon-heart">&#9829;</i> How to prepare for the period-talk with my daughter?</span>
                <span class="icon">&#9662;</span>
            </div>
            <div class="accordion-content">
                <p><b>Understanding symptoms leading up to her period : </b></p> <br>
                <ul class="learn-bulletin">
                    <li>Brush up Revise your basic facts of the female reproductive system, menstruation, cycles, symptoms, its impact, etc. 
                    </li>
                    <li>There are plenty of resources, both online and offline, which you can use to figure your way through the subject.
                    </li>
                    <li>Talk to other parents and teachers: You can engage with other experienced parents to ask them how they dealt with their children approaching puberty.
                    </li>
                    <li>Look for child-friendly resources:Using aids can make the process fun and impactful, especially if your daughter is reluctant to talk. Videos like Hello Periods!, DVDs, pictures, Menstrupedia comic, and leaflets are some ideas for supplementaries
                    </li>
                    <li>Encourage open communication: Encourage your daughter to come to you with any questions or concerns she may have in the future.
                    </li>
                </ul> 
            </div>
        </div>
        <div class="accordion" onclick="toggleAccordion(this)">
            <div class="accordion-header">
                <span><i class="icon-heart">&#9829;</i> How to involve your son also in the period discussion</span>
                <span class="icon">&#9662;</span>
            </div>
            <div class="accordion-content">
              
                <p><b>Yes, it's important to educate your son about periods. Here are some reasons why: </b></p> <br>
                <ul class="learn-bulletin">
                    <li>Understanding: By educating your son about periods, he'll have a better understanding of what his sister or female friends are going through.This can help him be more empathetic and supportive towards them.
                    </li>
                    <li>
                    Normalizing: Educating your son about periods can help normalize them as a natural part of the menstrual cycle for women. This can help reduce the stigma and shame that some women may feel about their periods.
                  
                    </li>
                    <li>Preparation: Your son may encounter periods in the future, whether it's in a romantic relationship or in the workplace.
                    </li>
                    <li>Educating him about periods can help him be better prepared to handle these situations with sensitivity and understanding.

                    </li>
                    <li>Equality: By educating both your son and daughter about periods, you're promoting equality and breaking down gender stereotypes. It's important for both boys and girls to have a basic understanding of reproductive health.

                    </li>
                </ul> 
            </div>

            
        </div>


        <div class="accordion" onclick="toggleAccordion(this)">
            <div class="accordion-header">
                <span><i class="icon-heart">&#9829;</i> How to involve your son also in the period discussion</span>
                <span class="icon">&#9662;</span>
            </div>
            <div class="accordion-content">
              
                <p><b>Yes, it's important to educate your son about periods. Here are some reasons why: </b></p> <br>
                <ul class="learn-bulletin">
                    <li>Understanding: By educating your son about periods, he'll have a better understanding of what his sister or female friends are going through.This can help him be more empathetic and supportive towards them.
                    </li>
                    <li>
                    Normalizing: Educating your son about periods can help normalize them as a natural part of the menstrual cycle for women. This can help reduce the stigma and shame that some women may feel about their periods.
                  
                    </li>
                    <li>Preparation: Your son may encounter periods in the future, whether it's in a romantic relationship or in the workplace.
                    </li>
                    <li>Educating him about periods can help him be better prepared to handle these situations with sensitivity and understanding.

                    </li>
                    <li>Equality: By educating both your son and daughter about periods, you're promoting equality and breaking down gender stereotypes. It's important for both boys and girls to have a basic understanding of reproductive health.

                    </li>
                </ul> 
            </div>

            
        </div>


        <div class="accordion" onclick="toggleAccordion(this)">
            <div class="accordion-header">
                <span><i class="icon-heart">&#9829;</i> How to involve your son also in the period discussion</span>
                <span class="icon">&#9662;</span>
            </div>
            <div class="accordion-content">
              
                <p><b>Yes, it's important to educate your son about periods. Here are some reasons why: </b></p> <br>
                <ul class="learn-bulletin">
                    <li>Understanding: By educating your son about periods, he'll have a better understanding of what his sister or female friends are going through.This can help him be more empathetic and supportive towards them.
                    </li>
                    <li>
                    Normalizing: Educating your son about periods can help normalize them as a natural part of the menstrual cycle for women. This can help reduce the stigma and shame that some women may feel about their periods.
                  
                    </li>
                    <li>Preparation: Your son may encounter periods in the future, whether it's in a romantic relationship or in the workplace.
                    </li>
                    <li>Educating him about periods can help him be better prepared to handle these situations with sensitivity and understanding.

                    </li>
                    <li>Equality: By educating both your son and daughter about periods, you're promoting equality and breaking down gender stereotypes. It's important for both boys and girls to have a basic understanding of reproductive health.

                    </li>
                </ul> 
            </div>

            
        </div>

    </div>

    <div class="learn-query mb-4">
        <div class="container1">
            <h2>Enter Your <span style="color: #e60073;">Question</span>, Concern or Query</h2>
            <form (ngSubmit)="onSubmit()">
                <label for="email">Your Email ID</label>
                <input type="email" id="email" name="email" [(ngModel)]="formData.email" placeholder="Enter your email ID"
                    required class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm" />
                <label for="question">Your Question</label>
                <textarea id="question" name="question" [(ngModel)]="formData.question"
                    placeholder="Write your question here..." required
                    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm"></textarea>
                <button type="submit" class="w-full text-white">Submit </button>
            </form>
        </div>
  
    
      
    
        <div class="right-image">
            <img src="/assets/images/doctor.jpeg" alt="Doctor">
        </div>
    
    </div>


    
