<div class="modal-wrapper">
  <div class="modal-content">
    <li> <a routerLink="/"><i class="fas fa-home"></i> </a></li>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h2>Login</h2>

      <div class="input-field">
        <input type="text" formControlName="email" required placeholder="Enter your email">
     
        <div *ngIf="loginForm.get('email')!.invalid && loginForm.get('email')!.touched" class="error-message">
          Please enter a valid email.
        </div>
      </div>

      <div class="input-field">
        <input type="password" formControlName="password" required placeholder="Enter your password">
        <div *ngIf="loginForm.get('password')!.invalid && loginForm.get('password')!.touched" class="error-message">
          Please enter a valid password.
        </div>
      </div>

      <div class="remember-forget">
    
        <a href="#">Forgot password?</a>
      </div>

      <button type="submit" [disabled]="loginForm.invalid">Log In</button>

      <div class="register">
        <p>Don't have an account? <a href="/signup">Register</a></p>
      </div>
    </form>
  </div>

  <!-- <div class="modal-image">
    <img src="assets/images/women-climacteric-concept_52683-46621.avif" alt="Login Image">
  </div> -->
</div>
