











<!-- Hero Start -->
  <div class="container-fluid py-5 mb-2 hero-header">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-md-12 col-lg-7">
                <h4 class="mb-3 text-secondary">100% Natural Menstrual Products</h4>
                <h1 class="mb-5 display-3 text-primary">Organic and Sustainable Menstrual Care Solutions</h1>
               
            </div>
            <div class="col-md-12 col-lg-5">
                <div id="carouselId" class="carousel slide position-relative" data-bs-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active rounded">
                            <img src="assets/images/product/Product2.webp" class="img-fluid w-100 h-100 bg-secondary rounded" alt="First slide">
                            <!-- <a href="#" class="btn px-4 py-2 text-white rounded">Pads</a> -->
                        </div>
                        <div class="carousel-item rounded">
                            <img src="assets/images/product/product3.webp" class="img-fluid w-100 h-100 rounded" alt="Second slide">
                            <!-- <a href="#" class="btn px-4 py-2 text-white rounded">Hot Water </a> -->
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->


<!-- Featurs Section Start -->
<div class="container-fluid featurs py-5">
    <div class="container py-5">
        <div class="row g-4">
            <div class="col-md-6 col-lg-3">
                <div class="featurs-item text-center rounded bg-light p-4">
                    <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                        <i class="fas fa-car-side fa-3x text-white"></i>
                    </div>
                    <div class="featurs-content text-center">
                        <h5>Free Shipping</h5>
                        <p class="mb-0">Empowering communities with every order</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="featurs-item text-center rounded bg-light p-4">
                    <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                        <i class="fas fa-user-shield fa-3x text-white"></i>
                    </div>
                    <div class="featurs-content text-center">
                        <h5>Secure Payment</h5>
                        <p class="mb-0">100% secure payment for peace of mind</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="featurs-item text-center rounded bg-light p-4">
                    <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                        <i class="fas fa-exchange-alt fa-3x text-white"></i>
                    </div>
                    <div class="featurs-content text-center">
                        <h5>30 Day Return</h5>
                        <p class="mb-0">30-day satisfaction guarantee</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="featurs-item text-center rounded bg-light p-4">
                    <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                        <i class="fa fa-phone-alt fa-3x text-white"></i>
                    </div>
                    <div class="featurs-content text-center">
                        <h5>24/7 Support</h5>
                        <p class="mb-0">Support available anytime, every time</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Featurs Section End -->


<!-- menstural Shop Start-->
<div class="container-fluid product py-5">
    <div class="container py-5">
        <div class="tab-class text-center">
            <div class="row g-4">
                <div class="col-lg-4 text-start">
                    <h1>Our Organic Products</h1>
                </div>
                <div class="col-lg-8 text-end">
                    <ul class="nav nav-pills d-inline-flex text-center mb-5">
                        <li class="nav-item">
                            <a class="d-flex m-2 py-2 bg-light rounded-pill active" data-bs-toggle="pill" href="#tab-1">
                                <span class="text-dark" style="width: 130px;">All Products</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="d-flex py-2 m-2 bg-light rounded-pill" data-bs-toggle="pill" href="#tab-2">
                                <span class="text-dark" style="width: 130px;">Sanitary Pads</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="d-flex m-2 py-2 bg-light rounded-pill" data-bs-toggle="pill" href="#tab-3">
                                <span class="text-dark" style="width: 130px;">Hot water bag</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="d-flex m-2 py-2 bg-light rounded-pill" data-bs-toggle="pill" href="#tab-4">
                                <span class="text-dark" style="width: 130px;">Books</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="d-flex m-2 py-2 bg-light rounded-pill" data-bs-toggle="pill" href="#tab-5">
                                <span class="text-dark" style="width: 130px;">Menstrual Hygiene Kits</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        <div class="col-lg-12">
                            <div class="row g-4">
                                <div class="col-md-6 col-lg-4 col-xl-3">
                                    <div class="rounded position-relative product-item">
                                        <div class="product-img">
                                            <img src="assets/images/product/product4.webp" class="img-fluid w-100 rounded-top" alt="">
                                        </div>
                                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Sanitary Pads</div>
                                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                            <h4>Pads</h4>
                                            <p>Our high-quality sanitary pads ensure comfort and hygiene during menstruation. Designed with ultra-absorbent materials, they provide leak-proof protection</p>
                                            <div class="d-flex justify-content-between flex-lg-wrap">
                                                <p class="text-dark fs-5 fw-bold mb-0">20 RS</p>
                                                <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 col-xl-3">
                                    <div class="rounded position-relative product-item">
                                        <div class="product-img">
                                            <img src="assets/images/product/product6.webp" class="img-fluid w-100 rounded-top" alt="">
                                        </div>
                                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Sanitary Pads</div>
                                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                            <h4>Pads</h4>
                                            <p>Experience superior comfort and protection with our reliable sanitary pads, designed to support menstrual health and hygiene.</p>
                                            <div class="d-flex justify-content-between flex-lg-wrap">
                                                <p class="text-dark fs-5 fw-bold mb-0">30 RS</p>
                                                <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 col-xl-3">
                                    <div class="rounded position-relative product-item">
                                        <div class="product-img">
                                            <img src="assets/images/product/product7.jpg" class="img-fluid w-100 rounded-top" alt="">
                                        </div>
                                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Hot Water Bag</div>
                                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                            <h4>Hot Water Bag</h4>
                                            <p>Relieve cramps with soothing warmth, designed for comfort pain relief.</p>
                                            <div class="d-flex justify-content-between flex-lg-wrap">
                                                <p class="text-dark fs-5 fw-bold mb-0">50Rs</p>
                                                <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 col-xl-3">
                                    <div class="rounded position-relative product-item">
                                        <div class="product-img">
                                            <img src="assets/images/product/product8.jpg" class="img-fluid w-100 rounded-top" alt="">
                                        </div>
                                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Reusable Cloth Pads</div>
                                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                            <h4>Reusable Cloth Pads</h4>
                                            <p>Eco-friendly washable pads for sustainable menstrual hygiene  Designed for comfort and durability, these pads are perfect for reducing waste and promoting health.</p>
                                            <div class="d-flex justify-content-between flex-lg-wrap">
                                                <p class="text-dark fs-5 fw-bold mb-0">80Rs</p>
                                                <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 col-xl-3">
                                    <div class="rounded position-relative product-item">
                                        <div class="product-img">
                                            <img src="assets/images/product/product9.webp" class="img-fluid w-100 rounded-top" alt="">
                                        </div>
                                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Hot Water Bag</div>
                                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                            <h4>Hot Water Bag</h4>
                                            <p>Our high-quality hot water bag provides soothing warmth to relieve menstrual cramps ensuring comfort and relaxation during tough days.</p>
                                            <div class="d-flex justify-content-between flex-lg-wrap">
                                                <p class="text-dark fs-5 fw-bold mb-0">100Rs </p>
                                                <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 col-xl-3">
                                    <div class="rounded position-relative product-item">
                                        <div class="product-img">
                                            <img src="assets/images/product/product11.jpg" class="img-fluid w-100 rounded-top" alt="">
                                        </div>
                                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Books</div>
                                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                            <h4>Books</h4>
                                            <p>Educational materials on menstrual health and hygiene.</p>
                                            <div class="d-flex justify-content-between flex-lg-wrap">
                                                <p class="text-dark fs-5 fw-bold mb-0">120Rs </p>
                                                <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 col-xl-3">
                                    <div class="rounded position-relative product-item">
                                        <div class="product-img">
                                            <img src="assets/images/product/product10.jpg" class="img-fluid w-100 rounded-top" alt="">
                                        </div>
                                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Books</div>
                                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                            <h4>Book</h4>
                                            <p>Empower yourself with knowledge on menstrual health and hygiene.</p>
                                            <div class="d-flex justify-content-between flex-lg-wrap">
                                                <p class="text-dark fs-5 fw-bold mb-0">140RS</p>
                                                <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 col-xl-3">
                                    <div class="rounded position-relative product-item">
                                        <div class="product-img">
                                            <img src="assets/images/product/product12.jpg" class="img-fluid w-100 rounded-top" alt="">
                                        </div>
                                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Menstrual Hygiene kit</div>
                                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                            <h4>Hygiene kit</h4>
                                            <p>Complete kit for menstrual health which includes high-quality pads and a convenient storage bag.This kit ensures you have everything you need forcleanliness,during your period.</p>
                                            <div class="d-flex justify-content-between flex-lg-wrap">
                                                <p class="text-dark fs-5 fw-bold mb-0">170 RS</p>
                                                <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-2" class="tab-pane fade show p-0">
                    <div class="row g-4">
                        <div class="col-lg-12">
                            <div class="row g-4">
                                <div class="col-md-6 col-lg-4 col-xl-3">
                                    <div class="rounded position-relative product-item">
                                        <div class="product-img">
                                            <img src="assets/images/product/product4.webp" class="img-fluid w-100 rounded-top" alt="">
                                        </div>
                                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Sanitary Pads</div>
                                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                            <h4>Pads</h4>
                                            <p>Our high-quality sanitary pads ensure comfort and hygiene during menstruation. Designed with ultra-absorbent materials, they provide leak-proof protection</p>
                                            <div class="d-flex justify-content-between flex-lg-wrap">
                                                <p class="text-dark fs-5 fw-bold mb-0">20 RS</p>
                                                <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 col-xl-3">
                                    <div class="rounded position-relative product-item">
                                        <div class="product-img">
                                            <img src="assets/images/product/product8.jpg" class="img-fluid w-100 rounded-top" alt="">
                                        </div>
                                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Reusable Cloth Pads</div>
                                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                            <h4>Reusable Cloth Pads</h4>
                                            <p>Eco-friendly washable pads for sustainable menstrual hygiene  Designed for comfort and durability, these pads are perfect for reducing waste and promoting health.</p>
                                            <div class="d-flex justify-content-between flex-lg-wrap">
                                                <p class="text-dark fs-5 fw-bold mb-0">80Rs</p>
                                                <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 col-xl-3">
                                    <div class="rounded position-relative product-item">
                                        <div class="product-img">
                                            <img src="assets/images/product/product14.webp" class="img-fluid w-100 rounded-top" alt="">
                                        </div>
                                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Sanitary Pads</div>
                                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                            <h4>Pads</h4>
                                            <p>Ensure comfort and protection with our high-quality sanitary pads, crafted to promote menstrual health and hygiene with superior absorbency and reliability.</p>

                                            <div class="d-flex justify-content-between flex-lg-wrap">
                                                <p class="text-dark fs-5 fw-bold mb-0">50 RS</p>
                                                <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 col-xl-3">
                                    <div class="rounded position-relative product-item">
                                        <div class="product-img">
                                            <img src="assets/images/product/product15.webp" class="img-fluid w-100 rounded-top" alt="">
                                        </div>
                                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Sanitary Pads</div>
                                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                            <h4>Pads</h4>
                                            <p>Stay confident and comfortable all day with our ultra-absorbent sanitary pads, designed for optimal menstrual care.</p>


                                            <div class="d-flex justify-content-between flex-lg-wrap">
                                                <p class="text-dark fs-5 fw-bold mb-0">50 RS</p>
                                                <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-3" class="tab-pane fade show p-0">
                    <div class="row g-4">
                        <div class="col-lg-12">
                            <div class="row g-4">
                                <div class="col-md-6 col-lg-4 col-xl-3">
                                    <div class="rounded position-relative product-item">
                                        <div class="product-img">
                                            <img src="assets/images/product/product7.jpg" class="img-fluid w-100 rounded-top" alt="">
                                        </div>
                                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Hot Water Bag</div>
                                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                            <h4>Hot Water Bag</h4>
                                            <p>Relieve cramps with soothing warmth, designed for comfort pain relief.</p>
                                            <div class="d-flex justify-content-between flex-lg-wrap">
                                                <p class="text-dark fs-5 fw-bold mb-0">50Rs</p>
                                                <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 col-xl-3">
                                    <div class="rounded position-relative product-item">
                                        <div class="product-img">
                                            <img src="assets/images/product/product9.webp" class="img-fluid w-100 rounded-top" alt="">
                                        </div>
                                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Hot Water Bag</div>
                                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                            <h4>Hot Water Bag</h4>
                                            <p>Our high-quality hot water bag provides soothing warmth to relieve menstrual cramps ensuring comfort and relaxation during tough days.</p>
                                            <div class="d-flex justify-content-between flex-lg-wrap">
                                                <p class="text-dark fs-5 fw-bold mb-0">100Rs </p>
                                                <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-lg-4 col-xl-3">
                                    <div class="rounded position-relative product-item">
                                        <div class="product-img">
                                            <img src="assets/images/product/product16.jpg" class="img-fluid w-100 rounded-top" alt="">
                                        </div>
                                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Hot Water Bag</div>
                                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                            <h4>Hot Water Bag</h4>
                                            <p>Enjoy comforting relief with our reliable hot water bag, designed to ease menstrual cramps and promote relaxation throughout challenging days.</p>

                                            <div class="d-flex justify-content-between flex-lg-wrap">
                                                <p class="text-dark fs-5 fw-bold mb-0">100Rs </p>
                                                <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 col-xl-3">
                                    <div class="rounded position-relative product-item">
                                        <div class="product-img">
                                            <img src="assets/images/product/product17.jpg" class="img-fluid w-100 rounded-top" alt="">
                                        </div>
                                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Hot Water Bag</div>
                                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                            <h4>Hot Water Bag</h4>
                                            <p>Our dependable hot water bag offers soothing warmth, perfect for easing menstrual cramps and promoting relaxation during challenging times.</p>


                                            <div class="d-flex justify-content-between flex-lg-wrap">
                                                <p class="text-dark fs-5 fw-bold mb-0">100Rs </p>
                                                <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-4" class="tab-pane fade show p-0">
                    <div class="row g-4">
                        <div class="col-lg-12">
                            <div class="row g-4">
                                <div class="col-md-6 col-lg-4 col-xl-3">
                                    <div class="rounded position-relative product-item">
                                        <div class="product-img">
                                            <img src="assets/images/product/product11.jpg" class="img-fluid w-100 rounded-top" alt="">
                                        </div>
                                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Books</div>
                                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                            <h4>Books</h4>
                                            <p>Educational materials on menstrual health and hygiene.</p>
                                            <div class="d-flex justify-content-between flex-lg-wrap">
                                                <p class="text-dark fs-5 fw-bold mb-0">120Rs </p>
                                                <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 col-xl-3">
                                    <div class="rounded position-relative product-item">
                                        <div class="product-img">
                                            <img src="assets/images/product/product10.jpg" class="img-fluid w-100 rounded-top" alt="">
                                        </div>
                                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Books</div>
                                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                            <h4>Book</h4>
                                            <p>Empower yourself with knowledge on menstrual health and hygiene.</p>
                                            <div class="d-flex justify-content-between flex-lg-wrap">
                                                <p class="text-dark fs-5 fw-bold mb-0">140RS</p>
                                                <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 col-xl-3">
                                    <div class="rounded position-relative product-item">
                                        <div class="product-img">
                                            <img src="assets/images/product/product18.jpg" class="img-fluid w-100 rounded-top" alt="">
                                        </div>
                                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Books</div>
                                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                            <h4>Book</h4>
                                         <p>Equip yourself with essential knowledge about menstrual health empower your well-being.</p>

                                            <div class="d-flex justify-content-between flex-lg-wrap">
                                                <p class="text-dark fs-5 fw-bold mb-0">160RS</p>
                                                <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-lg-4 col-xl-3">
                                    <div class="rounded position-relative product-item">
                                        <div class="product-img">
                                            <img src="assets/images/product/product19.jpg" class="img-fluid w-100 rounded-top" alt="">
                                        </div>
                                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Books</div>
                                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                            <h4>Book</h4>
                                         <p>Equip yourself with essential knowledge about menstrual health empower your well-being.</p>

                                            <div class="d-flex justify-content-between flex-lg-wrap">
                                                <p class="text-dark fs-5 fw-bold mb-0">160RS</p>
                                                <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-5" class="tab-pane fade show p-0">
                    <div class="row g-4">
                        <div class="col-lg-12">
                            <div class="row g-4">
                                <div class="col-md-6 col-lg-4 col-xl-3">
                                    <div class="rounded position-relative product-item">
                                        <div class="product-img">
                                            <img src="assets/images/product/product12.jpg" class="img-fluid w-100 rounded-top" alt="">
                                        </div>
                                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Menstrual Hygiene kit</div>
                                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                            <h4>Hygiene kit</h4>
                                            <p>Complete kit for menstrual health which includes high-quality pads and a convenient storage bag.This kit ensures you have everything you need forcleanliness,during your period.</p>
                                            <div class="d-flex justify-content-between flex-lg-wrap">
                                                <p class="text-dark fs-5 fw-bold mb-0">170 RS</p>
                                                <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 col-xl-3">
                                    <div class="rounded position-relative product-item">
                                        <div class="product-img">
                                            <img src="assets/images/product/product20.jpg" class="img-fluid w-100 rounded-top" alt="">
                                        </div>
                                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Menstrual Hygiene kit</div>
                                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                            <h4>Hygiene kit</h4>
                                            <p>This all-in-one menstrual health kit includes premium pads and a handy storage bag, ensuring cleanliness and convenience throughout your period.</p>

                                            <div class="d-flex justify-content-between flex-lg-wrap">
                                                <p class="text-dark fs-5 fw-bold mb-0">170 RS</p>
                                                <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 col-xl-3">
                                    <div class="rounded position-relative product-item">
                                        <div class="product-img">
                                            <img src="assets/images/product/product21.jpg" class="img-fluid w-100 rounded-top" alt="">
                                        </div>
                                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Menstrual Hygiene kit</div>
                                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                            <h4>Hygiene kit</h4>
                                            <p>Our comprehensive menstrual health kit features superior pads and a practical storage bag, providing hygiene during your cycle.</p>


                                            <div class="d-flex justify-content-between flex-lg-wrap">
                                                <p class="text-dark fs-5 fw-bold mb-0">170 RS</p>
                                                <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 col-xl-3">
                                    <div class="rounded position-relative product-item">
                                        <div class="product-img">
                                            <img src="assets/images/product/product22.jpeg" class="img-fluid w-100 rounded-top" alt="">
                                        </div>
                                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Menstrual Hygiene kit</div>
                                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                            <h4>Hygiene kit</h4>
                                            <p>Our complete menstrual care kit includes top-quality pads and a convenient storage bag, ensuring hygiene and ease throughout your period.</p>


                                            <div class="d-flex justify-content-between flex-lg-wrap">
                                                <p class="text-dark fs-5 fw-bold mb-0">170 RS</p>
                                                <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>      
    </div>
</div>
<!-- product Shop End-->


<!-- Features Start -->
<div class="container-fluid service py-5">
<div class="container py-5">
<div class="row g-4 justify-content-center">
    <div class="col-md-6 col-lg-4">
        <div class="service-item bg-secondary rounded border border-secondary">
            <img src="assets/images/product/product24.jpg" class="img-fluid rounded-top w-100" alt="Sanitary Pads">
            <div class="px-4 rounded-bottom">
                <div class="service-content bg-primary text-center p-4 rounded">
                    <h5 class="text-white">High-Quality Sanitary Pads</h5>
                    <h3 class="mb-0">Free Delivery</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <a href="#">
            <div class="service-item bg-dark rounded border border-dark">
                <img src="assets/images/product/product25.jpg" class="img-fluid rounded-top w-100" alt="Menstrual Cups">
                <div class="px-4 rounded-bottom">
                    <div class="service-content bg-light text-center p-4 rounded">
                        <h5 class="text-primary">Books</h5>
                        <h3 class="mb-0"> 20% OFF</h3>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-6 col-lg-4">
        <a href="#">
            <div class="service-item bg-primary rounded border border-primary">
                <img src="assets/images/product/product26.webp" class="img-fluid rounded-top w-100" alt="Reusable Cloth Pads">
                <div class="px-4 rounded-bottom">
                    <div class="service-content bg-secondary text-center p-4 rounded">
                        <h5 class="text-white"></h5>
                        <h3 class="mb-0">30% Discount</h3>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
</div>
</div>
<!-- Features End -->




<!-- Banner Section Start-->
<div class="container-fluid banner bg-secondary my-5">
    <div class="container py-5">
        <div class="row g-4 align-items-center">
            <div class="col-lg-6">
                <div class="py-4">
                    <h1 class="display-3 text-white">Empower Your Menstrual Health</h1>
                    <p class="fw-normal display-3 text-dark mb-4">with Our Products</p>
                    <p class="mb-4 text-dark">Our menstrual health products provide comfort, hygiene, and support during your cycle. Embrace a healthier period experience.</p>
                    <a href="#" class="banner-btn btn border-2 border-white rounded-pill text-dark py-3 px-5">BUY</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="position-relative">
                    <img src="assets/images/product/product27.avif" class="img-fluid w-100 rounded" alt="">
                    <div class="d-flex align-items-center justify-content-center bg-white rounded-circle position-absolute" style="width: 100px; height: 100px; top: 0; left: 0;">
                        <h1 style="font-size: 60px;">S</h1>
                        <div class="d-flex flex-column">
                            <span class="h3 mb-0">heRise</span>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Section End -->



<!-- Fact Start -->
<div class="container-fluid py-5">
<div class="container">
<div class="bg-light p-5 rounded">
    <div class="row g-4 justify-content-center">
        <div class="col-md-6 col-lg-6 col-xl-3">
            <div class="counter bg-white rounded p-5">
                <i class="fa fa-users text-secondary"></i>
                <h4>Empowered Women</h4>
                <h1>1963</h1>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3">
            <div class="counter bg-white rounded p-5">
                <i class="fa fa-smile text-secondary"></i>
                <h4>Customer Satisfaction</h4>
                <h1>99%</h1>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3">
            <div class="counter bg-white rounded p-5">
                <i class="fa fa-certificate text-secondary"></i>
                <h4>Quality Products</h4>
                <h1>33</h1>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3">
            <div class="counter bg-white rounded p-5">
                <i class="fa fa-box text-secondary"></i>
                <h4>Available Products</h4>
                <h1>789</h1>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!-- Fact End -->




      

