




<div class="page-nav no-margin row">
    <div class="container">
        <div class="row">
            <!-- <h2>Menstrual Myths</h2>
            <ul>
                <li> <a href="index.html"><i class="fas fa-home"></i> Home</a></li>
                <li><i class="fas fa-angle-double-right"></i> Menstrual Myths</li>
            </ul> -->
        </div>
    </div>
</div>


  
<div class="container3 mt-2">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="myth-container mt-5">
                <div class="row">
                    <div class="col-md-9">
                        <div class="myth-header">
                            <span class="icon">✖️</span> You shouldn’t exercise during your period.
                        </div>
                        <hr>
                        <div class="myth-body">
                            <p><span class="text-success">✔️</span> Exercise can actually help relieve cramps and improve mood during menstruation.</p>
                        </div>
                    </div>
                    <div class="col-md-3 text-center mt-2">
                        <img src="assets/images/Learn/Top-5-Safe-and-Effective-Pain-Relievers-for-Period-Cramps.png" class="img-fluid" alt="Exercise Image"  style="width: 100px; height: 100px;">
                    </div>
                </div>
            </div>

            <div class="myth-container mt-5">
                <div class="row">
                    <div class="col-md-9">
                        <div class="myth-header">
                            <span class="icon">✖️</span> You can’t swim or bathe during your period.
                        </div>
                        <div class="myth-body">
                            <p><span class="text-success">✔️</span> You can swim and bathe during your period, although some people may prefer to use menstrual products designed for water activities.</p>
                        </div>
                    </div>
                    <div class="col-md-3 text-center mt-2">
                        <img src="assets/images/Learn/swimming.webp" class="img-fluid" alt="Swimming Image"  style="width: 100px; height: 100px;">
                    </div>
                </div>
            </div>


            <div class="myth-container mt-5">
                <div class="row">
                    <div class="col-md-9">
                        <div class="myth-header">
                            <span class="icon">✖️</span> The menstrual cycle is always 28 days long.
                        </div>
                        <div class="myth-body">
                            <p><span class="text-success mt-2" >✔️</span> The menstrual cycle can vary in length from person to person and cycle to cycle.</p>
                        </div>
                    </div>
                    <div class="col-md-3 text-center">
                        <img src="assets/images/Learn/istockphoto-1348759466-612x612.jpg" class="img-fluid" alt="Swimming Image" style="width: 100px; height: 100px;">
                    </div>
                </div>
            </div>

            <div class="myth-container mt-5">
                <div class="row">
                    <div class="col-md-9">
                        <div class="myth-header">
                            <span class="icon">✖️</span>Menstrual blood is the same as regular blood.
                        </div>
                        <div class="myth-body">
                            <p><span class="text-success mt-2" >✔️</span> Menstrual blood contains a mix of blood, tissue, and other fluids.</p>
                        </div>
                    </div>
                    <div class="col-md-3 text-center">
                        <img src="assets/images/Learn/period-collage-1296x728-header-1296x728.avif" class="img-fluid" alt="Swimming Image" style="width: 100px; height: 100px;">
                    </div>
                </div>
            </div>
            
            <div class="myth-container mt-5">
                <div class="row">
                    <div class="col-md-9">
                        <div class="myth-header">
                            <span class="icon">✖️</span>Menstrual blood is dirty or impure.
                        </div>
                        <div class="myth-body">
                            <p><span class="text-success mt-2" >✔️</span> Menstrual blood is a natural bodily fluid and is not inherently dirty or impure.</p>
                        </div>
                    </div>
                    <div class="col-md-3 text-center">
                        <img src="assets/images/Learn/65b79a6fbb0e268d7309826a_65b0a50916ad7bcc282eee5c_heart.webp" class="img-fluid" alt="Swimming Image" style="width: 100px; height: 100px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









