

<div class="head1">

</div>

<div class="row">
    <div class="leftcolumn">
        <div class="card">
            <h2 class="head2">Effective Menstrual Hygiene Practices at Home
            </h2>
            <h6>March 7, 2024</h6>
            <div class="fakeimg">
                <img src="assets/images/hygine/Practices at Home2.png" class="blog_image">
            </div>
            <h5 class="head2 mt-1">Effective Menstrual Hygiene Practices at Home</h5>
            <p>

                Maintaining good menstrual hygiene is crucial for comfort and health during periods. Here are some
                practical tips and practices you can follow:
            </p>
            <h5 class="head2 mt-2">1. Proper Hygiene Products:</h5>
            <p>


                <strong> Sanitary Napkins or Tampons:</strong> Use high-quality sanitary pads or tampons that suit
                your flow. Change them every 4-6 hours to prevent bacterial growth and odor
            </p>
            <p>
                <strong> Menstrual Cups:</strong> If comfortable, consider using menstrual cups, which are
                eco-friendly and can be reused after proper cleaning.


            </p>



            <h5 class="head2 mt-3">2.Regular Changing:</h5>
            <p>Regularly change sanitary products to prevent bacterial infections. Wash your hands before and after
                handling sanitary products.</p>

            <h5 class="head2 mt-3"> 3.Cleanliness:</h5>
            <p>

                <strong>Gentle Cleansing:</strong> Clean the genital area gently with mild soap and water during
                showers or when changing sanitary products.
            </p>
            <p>
                <strong>Avoid Irritants:</strong> Avoid using harsh soaps, douches, or scented products near the
                vaginal area, as they can disrupt the natural pH balance.

            </p>

            <h5 class="head2 mt-3">4.Relaxation Techniques:</h5>
            <p>
                <strong>Deep Breathing:</strong> Practice deep breathing exercises or meditation to reduce stress
                and promote relaxation.
            </p>
            <p>
                <strong>Yoga and Stretching:</strong> Gentle yoga poses and stretching can help alleviate cramps and
                improve blood circulation.

            </p>

            <h5 class="head2 mt-3"> 5.Seek Medical Advice</h5>
            <p>If you experience unusually heavy bleeding, severe pain, or any other concerning symptoms, consult a
                healthcare professional for appropriate diagnosis and treatment.
            </p>
            <p> By following these practices, you can effectively manage menstrual hygiene at home and ensure a
                comfortable and healthy period experience. Always prioritize your health and well-being during
                menstruation.
            </p>

        </div>
    </div>


    <div class="rightcolumn">
        <div class="card1">
            <h2 class="head2">Trending Stories</h2>
            <div class="fakeimg">
                <img src="assets/images/events/food.jpg" class="blog_image">
            </div>
            <h5 class="head2 mt-3"><a routerLink="/sakhiya">Sakhi</a></h5>
            <p>Training school teachers to become Menstrual Educators<p>
          
            <div class="fakeimgm mt-5">
                <img src="assets/images/blog/pads.avif" class="blog_image">
            </div>
            <h5 class="head2 mt-3"><a routerLink="/padbank">Pad Bank </a></h5>
            <p>Free Sanitary Pad Distribution
                Free Menstrual Education Workshops Old papers collected as donations from households help procure sanitary pads</p>
            <div class="fakeimg mt-5">
                <img src="assets/images/blog/mhm-classroom780x439.jpeg" class="blog_image">
            </div>
            <h5 class="head2 mt-3"><a routerLink="/kagajpad">Kaagaz Ke Pad</a></h5>
            <p>
                Old papers collected as donations from households help procure sanitary pads
            </p>
            <div class="fakeimg mt-5">
                <img src="assets/images/events/dsc_0634.jpg" class="blog_image">
            </div>
            <h5 class="head2 mt-3"><a routerLink="/aarogya">Aarogya</a></h5>
            <p>
                Aarogya is a dedicated initiative aimed at addressing the critical issue of period poverty in rural areas.</p>
            
         
               <div class="fakeimg mt-5">
                    <img src="assets/images/events/Dipti2-e1564075327425.jpeg" class="blog_image">
                </div>
                <h5 class="head2 mt-3"><a routerLink="/nayidisha">NayiDisha</a></h5>
                <p>
                    NayiDisha is a transformative initiative aimed at combating period poverty in rural areas by addressing the intersecting challenges of economic constraints..</p>
                
                    <div class="fakeimg mt-5">
                        <img src="assets/images/events/3.jpg" class="blog_image">
                    </div>
                    <h5 class="head2 mt-3"><a routerLink="/udaan">Udaan</a></h5>
                    <p>
                        Udaan is a dedicated initiative aimed at addressing the critical issue of period poverty in rural areas. This project seeks to improve menstrual health..
                    </p>
                    
                    
    
    
        </div>
    </div>
</div>


