
<footer class="footer mt-5"  *ngIf="showFooter">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <h2>Our Programs</h2>
                <ul class="list-unstyled link-list">
                    <li><a ui-sref="padbank" routerLink="/padbank">PadBank</a></li>
                    <li><a ui-sref="sakhiya" routerLink="/sakhiya">Sakhi</a></li>
                    <li><a ui-sref="kagajpad" routerLink="/kagajpad">Kaagaz Ke Pad</a></li>
                    <li><a ui-sref="nayidisha" routerLink="/nayidisha">Nayidisha</a></li>
                    <li><a ui-sref="udaan" routerLink="#">Udaan</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-12">
                <h2>Useful Links</h2>
                <ul class="list-unstyled link-list">
                    <li><a ui-sref="about" routerLink="/about-us">About us</a><i class="fa fa-angle-right"></i></li>
                    <li><a ui-sref="portfolio" routerLink="/products">Product</a><i class="fa fa-angle-right"></i></li>
                    <li><a ui-sref="products" routerLink="/signup">Sign-up</a><i class="fa fa-angle-right"></i></li>
                    <li><a ui-sref="gallery" routerLink="/login">Login</a><i class="fa fa-angle-right"></i></li>
                    <li><a ui-sref="contact" routerLink="/contact">Contact us</a><i class="fa fa-angle-right"></i></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-12 map-img">
                <h2>Contact Us</h2>
                <address class="md-margin-bottom-40">
                    NSTI Mumbai <br>
                    Mumbai<br>
                    Maharashtra, IND <br>
                    Phone: +91 9159669599 <br>
                    Email: <a routerLink="sheRise@anybiz.com" class="">sherisegmail.com</a><br>

                </address>
                <div class="footer-column">
            
                 
                    <form class="subscribe-form" (submit)="onSubscribe()">
                        <input type="email" placeholder="Enter your email ID" [(ngModel)]="subscriberEmail" name="email" required>
                        <button type="submit">Subscribe</button>
                      </form>
                </div>
                <div id="google_translate_element"></div>
            </div>
            
           
        </div>


    </div>


</footer>
<div class="copy"  *ngIf="showFooter">
        <div class="container">
            <a routerLink="">2015 &copy; All Rights Reserved | Designed and Developed by SheRise</a>

            <span>
            <a><i class="fab fa-github"></i></a>
            <a><i class="fab fa-google-plus-g"></i></a>
            <a><i class="fab fa-pinterest-p"></i></a>
            <a><i class="fab fa-twitter"></i></a>
            <a><i class="fab fa-facebook-f"></i></a>
    </span>
        </div>

    </div>
