



<div class="band">
    <div class="item-1">
        <a routerLink="#" class="card">
            <div class="thumb" style="background-image: url('assets/images/Anxiety/depression.jpg');"></div>
            <article>
                <h1>Emotional and Pshycological health during periods </h1>
            </article>
        </a>
    </div>
    <div class="item-2">
    
            <h2>Table of Contents</h2>
            <ol class="list-group ol-list">
                <li class="list-group-item"><a  routerLink="/pshy" fragment="cause">Causes of depression during periods</a></li>
                <li class="list-group-item"><a routerLink="/pshy" fragment="sign">Signs of severe depression during period</a></li>
                <li class="list-group-item"><a routerLink="/pshy" fragment="mental-health">Menstrual and mental health</a></li>
                <li class="list-group-item"><a routerLink="/pshy" fragment="affect">Can depression affect your period?</a></li>
                <li class="list-group-item"><a routerLink="/pshy" fragment="cope">Coping with depression on your period</a></li>
               
            </ol>
        </div>
    </div>

<div class="con">
    <div class="sec mt-2">

        <section class="container-fluid mission-vision">
            
            <div class="container">
                <div  id="cause" class="row mission health">
                   
                    <div class="col-md-6 mv-det">
                        <h3>Causes of depression during periods</h3>
                        <p>It’s not known exactly how PMS causes depression, but it’s probably connected to the hormonal fluctuations that occur during the second half of the menstrual cycle, sensitivity of the central nervous system to reproductive hormones, genetic factors, and psychosocial factors such as stress.</p>
                        <p>Changes in levels of progesterone and estrogen can affect levels of serotonin. Serotonin is a neurotransmitter that helps regulate appetite, sleep cycle, and mood. Low serotonin levels may lead to feelings of irritability and sadness, unusual food cravings, and trouble sleeping, all of which are symptoms of PMS. In addition to these symptoms and depression while on your period you may also have:</p>

                        <br>
                        <ul class="bulletin">
                            <li>Anxiety</li>
                            <li>Increased anger</li>
                            <li>Forgetfulness</li>
                            <li>Increased crying</li>
                            <li>Absentmindedness</li>
                            <li>Decreased libido</li>
                            <li>Sleeping too little or too much</li>
                            <li>Eating too little or too much</li>
                            <li>Nausea</li>
                            <li>Tiredness or fatigue</li>
                        </ul>
                    </div>
                    <div class="col-md-6 mv-img">
                        <img src="assets/images/Anxiety/mood.png" alt="Importance of Nutrition">
                        <br><br><br>
                        <img src="assets/images/Anxiety/depression2.jpg" alt="Importance of Nutrition">
                    </div>
                </div>

                <div  id="sign" class="row vision mt-2">
                    <div class="col-md-6 mv-img">
                        <img src="assets/images/Anxiety/pmdd.jpg" alt="health Image">
                        <br><img src="assets/images/Anxiety/pmdd1.jpeg" alt="health Image">
                    </div>
                    <div class="col-md-6 mv-det">
                        <h3 class="Essential">Signs of severe depression during period</h3>
                        <p>You may experience severe depression before and during periods due to premenstrual dysphoric disorder (PMDD). PMDD is similar to PMS, but it’s severe and sometimes disabling. PMDD can cause extreme mood shifts, which can interfere with your daily life, relationships, and work. Symptoms usually start a week before menstruation and continue a few days after your period begins. Apart from severe depression before and during periods, other symptoms and signs of PMDD are:</p>
                        <br>
                        <ul class="bulletin">
                            <li>Tension or anxiety</li>
                            <li>Feeling out of control or overwhelmed</li>
                            <li>Extreme moodiness</li>
                            <li>Marked anger or irritability</li>
                            <li>Mood swings</li>
                            <li>Sudden tearfulness or sadness</li>
                            <li>Problems sleeping</li>
                            <li>Eating too little or too much</li>
                            <li>Lack of interest in relationships and daily activities</li>
                            <li>Tiredness or fatigue</li>
                        </ul>
                           
                          </div>
                  
                </div>

                
                <div  id="mental-health" class="row vision mt-2">
                    <div class="col-md-6 mv-det">
                        <h3  class="mt-5">Menstrual and mental Health</h3>
                        <p>Raise your hand if bloating during your period has ever made you feel personally attacked. Well, here’s your secret weapon: water. That’s right – the elixir of life isn’t merely there to prevent you from becoming
                            a human raisin. Staying hydrated helps combat bloating and lessens the intensity of those cramps. So, keep that water bottle close by – your body will thank you.for the journey ahead. Just like your trusted RIO heavy flow pad, they’ve got your back, day in and day out.
                      </p> <p> Hydration helps your kidneys and liver efficiently flush out toxins from your body. This detoxification process can reduce overall bloating and discomfort, providing relief from menstrual symptoms.
                        Proper hydration ensures that your body maintains a healthy balance of electrolytes, which are crucial for muscle function. This balance helps to prevent muscle cramps and spasms, including those experienced during menstruation.
                      </p> </div>
                      <div class="col-md-6 mv-img">
                        <img src="assets/images/health/Hydration.jpg" alt="health Image">
                    </div>
                </div>


                <div   id="affect" class="row vision mt-2">
                    <div class="col-md-6 mv-img">
                        <img src="assets/images/Anxiety/depression4.avif" alt="health">
                    </div>
                    <div class="col-md-6 mv-det">
                        <h3>Can depression affect your period?</h3>
                        <p>Yes, depression may affect your period. Depression can cause missed or irregular periods. During periods of stress or depression, hypothalamus function is suppressed. The hypothalamus is the part of the brain that controls the functioning of the pituitary gland, which in turn controls the ovaries, so when the hypothalamus isn’t functioning correctly, it can lead to ovarian dysfunction. </p>

                        <p>Ovarian dysfunction can affect ovulation and the production of estrogen. When the ovaries aren’t working properly, ovulation may be delayed or stopped. This may result in irregular periods or missed periods.</p>

                        <p>Can depression stop your period? Yes, depression can stop your period. Not having your period for three months or more without pregnancy is called secondary amenorrhea. When the cause of amenorrhea is depression and chronic stress, it’s called functional hypothalamic amenorrhea.</p>
                                    
                    
                    </div>
                  
                </div>
                <div  id="cope" class="row vision mt-2">
                    
                    <div class="col-md-6 mv-det">
                        <h3>Coping with depression on your period</h3>
                        <p>You may manage depression during your period by making certain lifestyle changes and taking specific medications.</p>
                        <br>
                        <h3>Track your symptoms </h3>
                        <p>Keep track of your symptoms throughout the phases of your menstrual cycle. This may help you determine whether your symptoms of depression are connected to your cycle. Having a detailed log of symptoms from your last few menstrual cycles can also come in handy when you want to discuss depression before and during periods with your health care provider. Thorough documentation of your symptoms may make it easier to explain to your health care provider what you’re experiencing. </p>
                        <br>
                   <p> While tracking depression before and during periods, make sure that you note the following symptoms:
                   </p> 
                   <br>
                   <ul class="bulletin">
                       <li>Tension or anxiety</li>
                       <li>Feeling out of control or overwhelmed</li>
                       <li>Extreme moodiness</li>
                       <li>Marked anger or irritability</li>
                       <li>Mood swings</li>
                       <li>Sudden tearfulness or sadness</li>
                       <li>Problems sleeping</li>
                       <li>Eating too little or too much</li>
                       <li>Lack of interest in relationships and daily activities</li>
                       <li>Tiredness or fatigue</li>
                   </ul>



                </div>
                      <div class="col-md-6 mv-img">
                        <img src="assets/images/Anxiety/cope.png" alt="health Image">
                        <br><br><br>
                        <img src="assets/images/Anxiety/depression3.jpg" alt="health Image">
                    </div>
                </div>

               


            </div>
        </section>
    

        
    </div>

    <section class="our-blog">
        <div class="container">
            <div class="blog-row row">
                <div class="col-md-4 col-sm-6">
                    <div class="single-blog">
                        <figure>
                            <img src="assets/images/Anxiety/anx-blog3.jpeg" alt="Home Remedies for Heavy Flow Period">
                        </figure>
                        <div class="blog-detail">
                            <small>By Admin | March 10, 2018</small>
                            <h4>How can I prevent anemia during menstruation?</h4>
                            <p>
                                Anemia during menstruation is often caused by a loss of iron due to the blood loss during the menstrual cycle. To help prevent anemia during menstruation, you can take the following steps:
                                Dietary Strategies
                                Iron-Rich Foods: Include foods that are high in iron, such as lean meats, poultry, fish, beans, lentils, tofu, spinach, and fortified cereals.Regular Exercise: Engage in regular physical activity to improve overall health and circulation
                                
                            <div class="link">
                                <a routerLink="/pshy-anemia-blog">Read more </a><i class="fas fa-long-arrow-alt-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-blog">
                        <figure>
                            <img src="assets/images/Anxiety/anxblog-2.jpeg" alt="What is the ideal diet for an individual with PCOS?">
                        </figure>
                        <div class="blog-detail">
                            <small>By Admin | June 10, 2018</small>
                            <h4>Why hormones affect mood</h4>
                            <p>
                                Hormonal changes during the second half of the menstrual cycle, called the luteal phase, may cause a low mood and irritability in some people.

                                After ovulation, which occurs midcycle, the levels of the female sex hormones estrogen and progesterone begin to fall.
                                However, some individuals can develop more severe symptoms, such as depression and anger. Hormones can also cause people to feel nauseated during their period
                            
                                Yes, depression may affect your period. Depression can cause missed or irregular periods. 
                            </p>
                            
                            
                            <div class="link">
                                <a routerLink="/pshy-hormones-blog">Read more </a><i class="fas fa-long-arrow-alt-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-blog">
                        <figure>
                            <img src="assets/images/Anxiety/anxblog-1.jpeg" alt="How Does Nutrition Affect Your Period?">
                        </figure>
                        <div class="blog-detail">
                            <small>By Admin | August 10, 2018</small>
                            <h4>Why Anxiety Spikes With Your Period</h4>
                            <p>Out of nowhere, your heart starts racing, your brain feels like someone is squeezing it, your mind goes to dark places, and you just don’t feel quite right. The anxiety may be related to a specific cause or it may be a free-floating sense of doom. But instead of occurring at any time, like generalized anxiety disorder, this prickly feeling seems to start in the week or two before your period.You are experiencing a very common spike in anxiety due to hormonal fluctuations </p>
                            
                            <div class="link">
                                <a routerLink="/pshy-anxiety-blog">Read more </a><i class="fas fa-long-arrow-alt-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    








          
    

      