<header class="continer-fluid mb-3" *ngIf="showHeader && !isCustomerLoggedIn && !isAdminLoggedIn">
    <div class="header-top">
      <div class="container">
        <div class="row col-det">
          <div class="col-lg-6 d-none d-lg-block">
            <ul class="ulleft">
              <li>
                <i class="far fa-envelope"></i>
                sherisegmail.com
                <span>|</span>
              </li>
              <li>
                <i class="fas fa-phone-volume"></i>
                +876 987 666 5433
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 folouws">
            <ul class="ulright">
              <li>
                <small>Follow Us</small>:
              </li>
              <li><i class="fab fa-facebook-square"></i></li>
              <li><i class="fab fa-twitter-square"></i></li>
              <li><a href="https://www.instagram.com/sherise_development?igsh=N3FtNWNrMWtkOGVo"><i class="fab fa-instagram"></i></a></li>
              <li><i class="fab fa-linkedin"></i></li>
            </ul>
          </div>
          <div class="col-lg-3 d-none d-md-block col-md-6 btn-bhed">
            <a class="link-spacing" routerLink="/login" tabindex="0">Login</a>
            <a routerLink="#" tabindex="0">Donate</a>
          </div>
        </div>
      </div>
    </div>

    <div id="menu-jk" class="header-bottom">
      <div class="container">
        <div class="row nav-row">
          <div class="col-lg-3 col-md-12 logo">
            <a routerLink="/index">
              <img src="assets/images/logo-no-background.png" alt="" style="height: 80px;">
              <a data-toggle="collapse" data-target="#menu" routerLink="#menu" tabindex="0" role="button">
                <i class="fas d-block d-lg-none small-menu fa-bars"></i>
              </a>
            </a>
          </div>
          <div id="menu" class="col-lg-9 col-md-12 d-none d-lg-block nav-col">
            <ul class="navbad">
              <li class="nav-item active">
                <a class="nav-link" routerLink="/" tabindex="0">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/about-us" tabindex="0">Who we Are</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" tabindex="0" role="button" aria-expanded="false">Things To Know</a>
                <div class="dropdown-content" aria-hidden="true" style="background: transparent;">
                  <a class="DROP" routerLink="/health" style="border-radius: 0px; border: 0;">Health & Nutrition</a>
                  <a class="DROP" routerLink="/hygiene" style="border-radius: 0px; border: 0;">Menstrual Hygiene</a>
                  <a class="DROP" routerLink="/mcycle" style="border-radius: 0px; border: 0;">Menstruation Cycle</a>
                  <a class="DROP" routerLink="/pshy" style="border-radius: 0px; border: 0;">Emotional & Psychological Support</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" tabindex="0" role="button" aria-expanded="false">What we do</a>
                <div class="dropdown-content" aria-hidden="true" style="background: transparent;">
                  <a class="" routerLink="/education" style="border-radius: 0px; border: 0;">Educational Workshops</a>
                  <a class="" routerLink="/healthcare-access" style="border-radius: 0px; border: 0;">Healthcare Access</a>
                  <a class="" routerLink="/hcamps" style="border-radius: 0px; border: 0;">Health Camps</a>
                  <a class="" routerLink="/products" style="border-radius: 0px; border: 0;">Subsidized menstrual products</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" tabindex="0" role="button" aria-expanded="false">Learn With Us</a>
                <div class="dropdown-content" aria-hidden="true" style="background: transparent;">
                  <a class="" routerLink="/parents" style="border-radius: 0px; border: 0;">For Parents</a>
                  <a class="" routerLink="/boys" style="border-radius: 0px; border: 0;">For Boys</a>
                  <a class="" routerLink="/mquiz" style="border-radius: 0px; border: 0;">Menstrual Quiz</a>
                  <a class="" routerLink="/menstrual-myths" style="border-radius: 0px; border: 0;">Menstrual Myths</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/contact" tabindex="0">Contact US</a>
              </li>


            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>








    <mat-toolbar *ngIf="showHeader && isAdminLoggedIn" class="toolbar">
    <a routerLink="/index">
      <img src="assets/images/logo-no-background.png" alt="" style="height: 80px;">
    </a>
    <a data-toggle="collapse" data-target="#menu" routerLink="#menu" tabindex="0" role="button">
      <i class="fas d-block d-lg-none small-menu fa-bars"></i>
    </a>
    <span class="navbar-brand">Admin</span>

    <span class="spacer"></span>

      <span class="user-name" *ngIf="userName"> welcome,{{ userName }}</span>

    <button mat-button routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</button>
    <button mat-button routerLink="/admin/category" routerLinkActive="active">Category</button>
      <button mat-button routerLink="/admin/product" routerLinkActive="active">Product Add</button>
    <button mat-button routerLink="/admin/user" routerLinkActive="active">Users</button>
    <button mat-button (click)="logout()">Logout</button>
  </mat-toolbar>





  <header class="continer-fluid mb-3" *ngIf="isCustomerLoggedIn" color="primary">
    <div id="menu-jk" class="header-top">
      <div class="container">
        <div class="row nav-row">
          <div class="col-lg-3 col-md-12 logo">
            <a routerLink="/index">
              <img src="assets/images/logo-no-background.png" alt="" style="height: 80px;">
              <a data-toggle="collapse" data-target="#menu" routerLink="#menu" tabindex="0" role="button">
                <i class="fas d-block d-lg-none small-menu fa-bars"></i>
              </a>
            </a>
          </div>
          <div id="menu" class="col-lg-9 col-md-12 d-none d-lg-block nav-col">
            <ul class="navbad">
              <li class="nav-item active">
                <a class="nav-link" routerLink="/" tabindex="0">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/about-us" tabindex="0">Who we Are</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" tabindex="0" role="button" aria-expanded="false">Things To Know</a>
                <div class="dropdown-content" aria-hidden="true" style="background: transparent;">
                  <a class="DROP" routerLink="/health" style="border-radius: 0px; border: 0;">Health & Nutrition</a>
                  <a class="DROP" routerLink="/hygiene" style="border-radius: 0px; border: 0;">Menstrual Hygiene</a>
                  <a class="DROP" routerLink="/mcycle" style="border-radius: 0px; border: 0;">Menstruation Cycle</a>
                  <a class="DROP" routerLink="/pshy" style="border-radius: 0px; border: 0;">Emotional & Psychological Support</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" tabindex="0" role="button" aria-expanded="false">What we do</a>
                <div class="dropdown-content" aria-hidden="true" style="background: transparent;">
                  <a class="" routerLink="/education" style="border-radius: 0px; border: 0;">Educational Workshops</a>
                  <a class="" routerLink="/healthcare-access" style="border-radius: 0px; border: 0;">Healthcare Access</a>
                  <a class="" routerLink="/hcamps" style="border-radius: 0px; border: 0;">Health Camps</a>
                  <a class="" routerLink="/products" style="border-radius: 0px; border: 0;">Subsidized menstrual products</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" tabindex="0" role="button" aria-expanded="false">Learn With Us</a>
                <div class="dropdown-content" aria-hidden="true" style="background: transparent;">
                  <a class="" routerLink="/parents" style="border-radius: 0px; border: 0;">For Parents</a>
                  <a class="" routerLink="/boys" style="border-radius: 0px; border: 0;">For Boys</a>
                  <a class="" routerLink="/mquiz" style="border-radius: 0px; border: 0;">Menstrual Quiz</a>
                  <a class="" routerLink="/menstrual-myths" style="border-radius: 0px; border: 0;">Menstrual Myths</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/contact" tabindex="0">Contact US</a>
              </li>
<!--              <li class="nav-item">-->
<!--                <a class="nav-item" (click)="logout()" tabindex="0">Logout</a>-->
<!--              </li>-->

<!--              <li class="nav-item">-->
<!--                <span class="user-name" *ngIf="userName"> welcome,{{ userName }}</span>-->
<!--              </li>-->

              <li class="nav-item dropdown profile-dropdown">
                <a class="nav-link" tabindex="0" role="button" aria-expanded="false">
                  <div class="profile-icon">
                    <img [src]="userProfilePicture" alt="Profile Picture">
                  </div>
                  <span>{{ userName }}</span>
                </a>
                <div class="dropdown-content">
                  <a class="dropdown-item" (click)="logout()">Logout</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
