<div class="container">
    <div class="card">
        <div class="icon">
            <img src="assets/images/icon.jpeg" alt="Icon">
        </div>
        <h2>PCOD and PCOS</h2>
        <p>Women & girls in India face significant challenges due to PCOD and PCOS, but awareness and early diagnosis can improve their quality of life.</p>
        <a href="/quiz" class="button">Start The Quiz!</a>
    </div>
    <div class="card">
        <div class="icon">
            <img src="assets/images/icon.jpeg" alt="Icon">
        </div>
        <h2>Period Hygiene</h2>
        <p>Young adolescent girls in India are forced out of school permanently as soon as they start menstruating.</p>
        <a href="/hygquiz" class="button">Start The Quiz!</a>
    </div>
</div>