

.header-main {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: url('/assets/images/blog/anemia.jpeg') no-repeat center center;
    background-size: cover;
    height: 100vh; /* Adjust the height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; /* Ensure text is readable against the background */
}
.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.main-column {
    flex: 3;
    padding: 15px;
}

.rightcolumn {
    flex: 1;
    padding: 15px;
}

.card {
    background-color: white;
    padding: 30px;
    margin-top: 20px;
    border-radius: 8px;
    margin-left: 3%;
}

.subheading {
    font-weight: 700;
    color: #df4e4e;
    margin-top: 20px;
}

.blog_image {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 8px;
}

.image-container {
    background-color: #fdfdfd;
    padding: 10px;
    margin-top: 20px;
}

p {
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .header-main h1 {
        font-size: 6em;
    }

    .content-wrapper {
        flex-direction: column;
    }

    .main-column, .rightcolumn {
        width: 100%;
        padding: 0 15px;
    }
}

@media (max-width: 576px) {
    .header-main h1 {
        font-size: 1.5em;
    }
}
