@media (max-width: 768px) {
    .header-main h1 {
        font-size: 6em;
    }

    .content-wrapper {
        flex-direction: column;
    }

    .main-column, .sidebar {
        width: 100%;
        padding: 0 15px;
    }
   .sidebar {
        margin-top: 20px;
    }
}

@media (max-width: 576px) {
    .header-main h1 {
        font-size: 1.5em;
    }
    
    

}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.col {
    flex: 1;
    padding: 15px;
}
.blog_image {
    width: 100%;
    height: auto;
    max-width: 100%;
}
.text-center {
    text-align: center;
}
.w3-large {
    font-size: 1.25em;
    list-style: circle;
}
.w3-large li {
    list-style: circle;
}

.header-main {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: url('/assets/images/blog/pcod.png') no-repeat center center;
    background-size: cover;
    height: 100vh; /* Adjust the height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; 
    margin-top: 8%;
}
.subheading {
    color: #e75555;
}
.leftcolumn {
    float: left;
    width: 75%;
    padding: 2px;
}
.sidebar {
    flex: 1;
    padding: 15px;
}
.fakeimg {
    background-color: #fdfdfd;
    width: 100%;
}
.blog_image {
    width: 60%;
    height: auto;
}

 .card {
    background-color: white;
    padding: 30px;
    margin-top: 20px;
    border-radius: 8px;
    margin-left: 3%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
.card h1{
    color: #ef5d5d;
    font-weight: 700;
}
.card p{
    font-weight:600;
color: rgba(41, 41, 44, 0.884);

}
.blog-con{
font-weight:600;
color: rgba(47, 47, 50, 0.884);

}
.main-column {
    flex: 3;
    padding: 15px;
}.content-wrapper {
    display: flex;
    flex-wrap: wrap;
}
.head2{
    color: #e75555;
}