




<div class="head1">
       
</div>

<div class="row">
    <div class="leftcolumn">
        <div class="card">
            <h2 class="head2">How does nutrition affect your period?</h2>
            <h6>May 7, 2024</h6>
            <div class="fakeimg">
                <img src="assets/images/blog/the-weird-way-the-ketogenic-diet-affects-your-period-1440x810.jpg" class="blog_image">
            </div>
            <h5 class="head2 mt-1">how does nutrition impact your period? </h5>
        <p>
            The best way to manage your food intake to ensure overall menstrual health is by understanding how different foods affect your body during the various phases of the menstrual cycle. 

            The menstrual cycle can be broken down into four different phases — the menstruation phase, follicular phase, ovulation phase, and the luteal phase. A balanced diet during periods can play
             a big role in optimising these phases and improving your overall quality of life.  </p>
        <h5 class="head2 mt-2">what should you eat during the menstruation phase? </h5>
        <p>
            During this phase, your body experiences blood loss, exhaustion, cramping, moodiness, and more. The essential nutrients to look out for during this time are iron, vitamin C, and magnesium. When we bleed, we lose somewhere between 
            40-60 ml of blood, and along with that, we lose iron.Iron plays a key role in energy production, oxygen transport, and immunity building. To replenish your supply, you need to eat more iron-rich foods during your period, especially during the menstruation phase.  </p>
      
            <h5 class="head2 mt-3">what should you eat during the follicular phase? </h5>
            <p>During ovulation, oestrogen levels are at their peak, with the luteinising hormone (LH) triggering the release of an egg from your ovaries. During this phase, you may feel like you’re at your best, and have all the motivation in the world to get things done! 

                Vitamin D and zinc are important nutrients to include in your diet during this phase. Foods like mushrooms, salmon, sardines, and eggs are great sources of Vitamin D.  Not only will they help boost your immune system, but also prepare your body for the next phase of the cycle. </p>
            
            <h5 class="head2 mt-3">what should you eat during the luteal phase? </h5>
            <p>The luteal phase can be divided into two stages—the first few days when you’re still feeling good, and the second half, when the lack of fertilisation leads to a drop in hormonal levels and brings on the PMS symptoms. 

                During this phase, healthy fats and Vitamin B6 are essential! Foods such as avocado, wild salmon, sesame, and sunflower seeds contain healthy fats that support skin health and prevent breakouts. 
                
                 </p>
            
        
        </div>
</div>


<div class="rightcolumn">
    <div class="card1">
        <h2 class="head2">Trending Stories</h2>
        <div class="fakeimg">
            <img src="assets/images/events/food.jpg" class="blog_image">
        </div>
        <h5 class="head2 mt-3"><a routerLink="/sakhiya">Sakhi</a></h5>
        <p>Training school teachers to become Menstrual Educators<p>
      
        <div class="fakeimgm mt-5">
            <img src="assets/images/blog/pads.avif" class="blog_image">
        </div>
        <h5 class="head2 mt-3"><a routerLink="/padbank">Pad Bank </a></h5>
        <p>Free Sanitary Pad Distribution
            Free Menstrual Education Workshops Old papers collected as donations from households help procure sanitary pads</p>
        <div class="fakeimg mt-5">
            <img src="assets/images/blog/mhm-classroom780x439.jpeg" class="blog_image">
        </div>
        <h5 class="head2 mt-3"><a routerLink="/kagajpad">Kaagaz Ke Pad</a></h5>
        <p>
            Old papers collected as donations from households help procure sanitary pads
        </p>
        <div class="fakeimg mt-5">
            <img src="assets/images/events/dsc_0634.jpg" class="blog_image">
        </div>
        <h5 class="head2 mt-3"><a routerLink="/aarogya">Aarogya</a></h5>
        <p>
            Aarogya is a dedicated initiative aimed at addressing the critical issue of period poverty in rural areas.</p>
        
     
           <div class="fakeimg mt-5">
                <img src="assets/images/events/Dipti2-e1564075327425.jpeg" class="blog_image">
            </div>
            <h5 class="head2 mt-3"><a routerLink="/nayidisha">NayiDisha</a></h5>
            <p>
                NayiDisha is a transformative initiative aimed at combating period poverty in rural areas by addressing the intersecting challenges of economic constraints..</p>
            
                <div class="fakeimg mt-5">
                    <img src="assets/images/events/3.jpg" class="blog_image">
                </div>
                <h5 class="head2 mt-3"><a routerLink="/udaan">Udaan</a></h5>
                <p>
                    Udaan is a dedicated initiative aimed at addressing the critical issue of period poverty in rural areas. This project seeks to improve menstrual health..
                </p>
                
                


    </div>
</div>
</div>














      


      

