


 
    
<div class="head1">
    <h1 class="head2"></h1>
</div>

<div class="row">
    <div class="leftcolumn">
        <div class="card">
            <h2 class="head2">How are menstrual disorders diagnosed?</h2>
            <h6>April, 3 2024</h6>
            <div class="fakeimg">
                <img src="assets/images/Disoder/image2.jpeg" class="blog_image">
            </div>
            <h5 class="head2 mt-1">Menstrual Disorders  </h5>
        <p>
            Menstrual disorders can cause disruptive physical and emotional symptoms just before and during menstruation, including heavy bleeding, missed periods, and severe mood swings. While some women experience minimal inconvenience during their periods, others face significant challenges that can impact their daily lives. Many menstrual issues have straightforward explanations and various treatment options. If your symptoms feel overwhelming, consult with a healthcare professional for an accurate diagnosis and effective treatment plan to manage your menstrual cycle better.
        </p>
        <h5 class="head2 mt-2">Types of Menstrual Disorders</h5>
        <p>
            one or more of the symptoms you experience before or during your period causes a problem, you may have a menstrual cycle "disorder." These include:
        </p>
        <ul class="blog-con">
            <li><strong>Dysmenorrhea:</strong>Painful periods with severe cramps.</li>
            <li><strong>Menorrhagia:</strong>Heavy or prolonged menstrual bleeding.</li>
            <li><strong>Oligomenorrhea:</strong> Infrequent menstrual periods.</li>
            <li><strong>Amenorrhea:</strong>Absence of menstrual periods.</li>
            <li><strong>Premenstrual Syndrome (PMS):</strong> Physical and emotional symptoms before the onset of menstruation.</li>
            <li><strong>Premenstrual Dysphoric Disorder (PMDD):</strong> A severe form of PMS with intense emotional and physical symptoms.r</li>
            <li><strong>Polycystic Ovary Syndrome (PCOS):</strong> A hormonal disorder causing irregular periods and other symptoms.</li>
            <li><strong>Endometriosis:</strong>A condition where tissue similar to the lining inside the uterus grows outside of it, causing pain and irregular periods.</li>
        </ul><br>
            
            <h5 class="head2 mt-3">What is PMS?</h5>
            <p>PMS is a term commonly used to describe a wide variety of physical and psychological symptoms associated with the menstrual cycle. About 30 to 40 percent of women experience symptoms severe enough to disrupt their lifestyles. PMS symptoms are more severe and disruptive than the typical mild premenstrual symptoms that as many as 75 percent of all women experience.

            </p>
            <p>PMS appears to be caused by rising and falling levels of the hormones estrogen and progesterone, which may influence brain chemicals, including serotonin, a substance that has a strong affect on mood. It's not clear why some women develop PMS or PMDD and others do not, but researchers suspect that some women are more sensitive than others to changes in hormone levels.</p>
            
            <h5 class="head2 mt-3">What is PMDD</h5>
            <p>Premenstrual dysphoric disorder is far more severe than the typical PMS. Women who experience PMDD (about 3 to 8 percent of all women) say it significantly interferes with their lives. Experts equate the difference between PMS and PMDD to the difference between a mild tension headache and a migraine. </p>
            <p>-Depression-related symptoms, however, are not associated with the menstrual cycle. Without treatment, depressive mood disorders can persist for weeks, months or years. If depression persists, you should consider seeking help from a trained therapist.</p>
            
            
            <h5 class="head2 mt-3">
                Diagnosing Menstrual Disorders</h5>
            <p>Your healthcare provider will do a physical exam and ask about your symptoms and medical history. If you’re experiencing irregular periods, you may want to start a menstrual cycle log to record the dates of your periods. This information can help your provider make a diagnosis.</p>
            <p>Tests for menstrual disorders may include: </p> 
           <ul class="blog-con">
            <li>-Blood tests to measure hormone levels</li>
            <li>-Pelvic exam to check your reproductive organs</li>
            <li>-Pelvic ultrasound or transvaginal ultrasound to look for fibroids, tumors or other abnormalities in your reproductive organs</li>
            <li>-Endometrial biopsy to examine a sample of tissue from your uterus for signs of disease</li>
               </ul>                      
            <h5 class="head2 mt-3">Treatments for Menstrual Disorders</h5>
            <p>Our women’s health specialists work together to deliver expert care. Depending on your needs, you receive the coordinated input of OB-GYNs, surgeons, infertility specialists, endocrinologists and other providers.</p>
            <p>Your treatment plan may include lifestyle changes, medication, surgery or a combination of therapies.</p>
            <p>Surgery is reserved for severe menstrual disorders that don’t improve with conservative therapies. Some surgeries affect your ability to get pregnant, so it’s important to discuss the risks of each procedure with your provider.</p>
            <p>We specialize in minimally invasive gynecologic surgery. These minimally invasive procedures are alternatives to major abdominal surgeries and help you recover faster and with less pain.</p>
        </div>
</div>


<div class="rightcolumn">
    <div class="card1">
        <h2 class="head2">Trending Stories</h2>
        <div class="fakeimg">
            <img src="assets/images/events/food.jpg" class="blog_image">
        </div>
        <h5 class="head2 mt-3"><a routerLink="/sakhiya">Sakhi</a></h5>
        <p>Training school teachers to become Menstrual Educators<p>
      
        <div class="fakeimgm mt-5">
            <img src="assets/images/blog/pads.avif" class="blog_image">
        </div>
        <h5 class="head2 mt-3"><a routerLink="/padbank">Pad Bank </a></h5>
        <p>Free Sanitary Pad Distribution
            Free Menstrual Education Workshops Old papers collected as donations from households help procure sanitary pads</p>
        <div class="fakeimg mt-5">
            <img src="assets/images/blog/mhm-classroom780x439.jpeg" class="blog_image">
        </div>
        <h5 class="head2 mt-3"><a routerLink="/kagajpad">Kaagaz Ke Pad</a></h5>
        <p>
            Old papers collected as donations from households help procure sanitary pads
        </p>
        <div class="fakeimg mt-5">
            <img src="assets/images/events/dsc_0634.jpg" class="blog_image">
        </div>
        <h5 class="head2 mt-3"><a routerLink="/aarogya">Aarogya</a></h5>
        <p>
            Aarogya is a dedicated initiative aimed at addressing the critical issue of period poverty in rural areas.</p>
        
     
           <div class="fakeimg mt-5">
                <img src="assets/images/events/Dipti2-e1564075327425.jpeg" class="blog_image">
            </div>
            <h5 class="head2 mt-3"><a routerLink="/nayidisha">NayiDisha</a></h5>
            <p>
                NayiDisha is a transformative initiative aimed at combating period poverty in rural areas by addressing the intersecting challenges of economic constraints..</p>
            
                <div class="fakeimg mt-5">
                    <img src="assets/images/events/3.jpg" class="blog_image">
                </div>
                <h5 class="head2 mt-3"><a routerLink="/udaan">Udaan</a></h5>
                <p>
                    Udaan is a dedicated initiative aimed at addressing the critical issue of period poverty in rural areas. This project seeks to improve menstrual health..
                </p>
                
                


    </div>
</div>
</div>










